.box {
  margin: 15px;
  border: 30px;
  padding: 30px;
  background-color: rgb(193, 255, 223);
}

.extra {
  width: 150px;
  float: left;
  font-style: normal;
  margin: 15px;
  border: 30px;
  padding: 30px;
  background-color: rgb(193, 255, 223);
}

img {
  margin: auto;
  max-width: 10%;
  height: auto;
  display: block;

}

body {
  background-color: rgb(235, 255, 239);
  color: rgb(47, 134, 50);
  font-size: large;
}

h1 {
  text-align: center;
}

.year {
  float: right;
}
